
.window-controls {
    display: flex;
    align-items: center;
    margin-left: 8px; /* Adjust as needed */
}

.window-control {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 6px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline: none;
}

.close-control {
    background-color: #ff5f57;
}

.minimize-control {
    background-color: #ffbd2e;
}

.maximize-control {
    background-color: #28c940;
}

.window-control:hover {
    filter: brightness(85%);
}

.window-control:focus {
    outline: none;
}